    .style1 {
        /* position */
        display: grid;
        height: 100vh;
        width: 100vw;
        /* layout */
        grid-template-columns: 98vw;
        grid-template-rows: 10fr 10fr 30fr 5fr;
        grid-template-areas: "R1__Title" "R1__TopButton" "R1__bg" "R1__BottomButton";
        /* skin */
        font-family: Microsoft JhengHei;
        font-size: 4rem;
        justify-content: center;
        align-items: center;
    }
    
    .style2 {
        /* position */
        display: grid;
        height: 100vh;
        width: 100vw;
        /* layout */
        grid-template-columns: 98vw;
        grid-template-rows: 5fr 5fr 5fr 5fr 5fr 5fr 1fr;
        grid-template-areas: "Title1" "first" "Title2" "second" "Title3" "third" ".";
        /* skin */
        font-family: Microsoft JhengHei;
        justify-content: center;
        align-items: center;
    }
    /*css of record 1*/
    
    #R1__BottomButtonLeft {
        float: left;
        position: relative;
        left: 18%;
    }
    
    #R1__BottomButtonRight {
        float: left;
        position: relative;
        left: 24%;
    }
    
    #first__Button {
        float: left;
        position: relative;
        left: 1%;
    }
    
    #second__Button {
        float: left;
        position: relative;
        left: 7%;
    }
    
    #third__Button {
        float: left;
        position: relative;
        left: 10%;
    }
    
    #R1__bg {
        background: url(../image/house_cube.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        display: block;
    }
    
    .firstCheckbox input {
        // display: none;
        // Better than 
        display: none;
        for accessibility reasons position: relative;
        z-index: -9999;
    }
    
    .firstCheckbox span {
        width: 28vw;
        height: 28vw;
        font-size: 40px;
        color: white;
        display: block;
        background: url(../image/buttons/red_botton1.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    
    .firstCheckbox input:checked+span {
        background: url(../image/buttons/green_botton1.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    
    .text1 {
        display: inline-block;
        padding-top: 1rem;
    }
    /*css of record 345*/
    
    .myCheckbox input {
        // display: none;
        // Better than 
        display: none;
        for accessibility reasons position: relative;
        z-index: -9999;
    }
    
    .myCheckbox span {
        width: 33vw;
        height: 28vw;
        font-size: 3rem;
        color: white;
        display: inline-block;
        background: url(../image/buttons/blue_button2.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    
    .myCheckbox input:checked+span {
        background: url(../image/buttons/red_button2.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    
    .button2 {
        display: none;
    }
    
    .text2 {
        display: inline-block;
        padding-top: 6rem;
    }
    
    .Title1,
    .Title2,
    .Title3,
    .R1__Title {
        font-size: 4rem;
        height: 8vh;
        text-align: center;
    }
    
    .R1__TopButton,
    .R1__BottomButton {
        height: 5vh;
        display: block;
    }
    
    .first,
    .second,
    .third {
        height: 13vh;
        display: block;
    }
    
    .left {
        display: inline-block;
        margin-left: 10vw;
    }
    
    .right {
        display: inline-block;
        margin-left: 10vw;
    }
    
    #ps {
        /* layout */
        display: flex;
        align-items: center;
        justify-items: center;
        /* position */
        width: 98%;
        height: 20rem;
        margin-left: 5rem;
        /* skin */
        border: 4px solid white;
        z-index: 10;
        color: black;
    }
    
    #psLeft {
        float: left;
        font-size: 4rem;
        /* layout */
        display: flex;
        align-items: center;
        justify-items: center;
        /* position */
        height: 10rem;
        margin-left: 5rem;
    }
    
    #final {
        background: url(../image/buttons/orange_button.png);
        background-repeat: no-repeat;
        background-size: 100% 200%;
        display: block;
        position: absolute;
        /*align-items: center;
        justify-items: center;
        margin-right: auto;
        margin-left: auto;*/
        top: 76vh;
        left: 8vw;
        width: 80vw;
        font-size: 3rem;
        color: white;
        font-family: Microsoft JhengHei;
    }
    
    b {
        display: block;
        margin-top: 4rem;
    }
