.page {
    /* position */
    display: grid;
    height: 100vh;
    width: 100vw;
    /* layout */
    grid-template-columns: 90vw;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.01fr 0.1fr 0.2fr;
    grid-template-areas: "header" "first" "second" "third";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    /* skin */
    font-family: Microsoft JhengHei;
    justify-content: center;
    align-items: center;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0;
    position: fixed;
}

.left {
    float: left;
    position: fixed;
    left: 10%;
}

.right {
    float: left;
    position: fixed;
    left: 50%;
}

.button {
    position: fixed;
    left: 25vw;
    top: 75vh;
}