.page {
    /* position */
    display: grid;
    height: 100vh;
    width: 100vw;
    /* layout */
    grid-template-columns: 95vw;
    grid-template-rows: 10vh 10vh 5vh 15vh 5vh 15vh;
    grid-template-areas: "Title" "first" "Title" "second" "Title" "third";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    /* skin */
    font-family: Microsoft JhengHei;
    justify-content: center;
    align-items: center;
}

.left,
.a {
    float: left;
    position: relative;
    left: 6%;
}

.right,
.c {
    float: left;
    position: relative;
    left: 10%;
}

.b {
    margin-left: auto;
    margin-right: auto;
}

.button,
#final {
    background: url(../image/buttons/green_botton.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    left: 35vw;
    top: 40vh;
}

.first b,
.second b,
.third b {
    font-size: 40px;
}

.firstCheckbox input {
    // display: none;
    // Better than 
    display: none;
    for accessibility reasons position: relative;
    z-index: -9999;
}

.firstCheckbox span {
    width: 33vw;
    height: 28vw;
    font-size: 40px;
    color: white;
    display: block;
    background: url(../image/buttons/red_botton1.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.firstCheckbox input:checked+span {
    background: url(../image/buttons/green_botton1.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.myCheckbox input {
    // display: none;
    // Better than 
    display: none;
    for accessibility reasons position: relative;
    z-index: -9999;
}

.myCheckbox span {
    width: 33vw;
    height: 28vw;
    font-size: 40px;
    color: white;
    display: block;
    background: url(../image/buttons/yellow_botton.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.myCheckbox input:checked+span {
    background: url(../image/buttons/red_botton.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.button2 {
    display: none;
}

.text {
    display: inline-block;
    padding-top: 1rem;
}

.Title {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

#ps {
    font-size: 20px;
    /*margin-left: auto;
    margin-right: auto;*/
    float: left;
    position: relative;
    left: 10%;
}

#psLeft {
    float: left;
    font-size: 40px;
}