    .page {
        /* position */
        display: grid;
        height: 100vh;
        width: 100vw;
        /* layout */
        grid-template-columns: 98vw;
        grid-template-rows: 10fr 5fr 30fr 5fr;
        grid-template-areas: "R1__Title" "R1__TopButton" "R1__bg" "R1__BottomButton";
        /* skin */
        font-family: Microsoft JhengHei;
        justify-content: center;
        align-items: center;
    }
    
    b {
        font-size: 4rem;
    }
    
    .firstCheckbox input {
        // display: none;
        // Better than 
        display: none;
        for accessibility reasons position: relative;
        z-index: -9999;
    }
    
    .firstCheckbox span {
        width: 33vw;
        height: 28vw;
        font-size: 40px;
        color: white;
        display: block;
        background: url(../image/buttons/red_botton1.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    
    .firstCheckbox input:checked+span {
        background: url(../image/buttons/green_botton1.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    
    .button2 {
        display: none;
    }
