<html>

<head>
    <meta charset="utf-8">
    <title>劣化Info8</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="floorForm8.css" rel="stylesheet" type="text/css">
    <style></style>
</head>

<body>
    <div class="crack">
        <b>是否有裂縫</b>
        <form>
            <input type="radio" name="crack" value="1" checked> 是<br>
            <input type="radio" name="crack" value="2"> 否<br>
        </form>

    </div>



    <div class="length">
        <b>長度</b>
        <form>
            <input type="radio" name="length" value="1" checked> 小於30cm<br>
            <input type="radio" name="length" value="2"> 大於30cm<br>
        </form>

    </div>

    <div class="width">
        <b>寬度</b>
        <form>
            <input type="radio" name="width" value="1" checked> 小於3mm<br>
            <input type="radio" name="width" value="2"> 大於3mm<br>
        </form>

    </div>
</body>

</html>