<div class="page" class="style1">
    <div class="R1__Title">
        <b>請選擇劣化部位(接合處請複選)</b>
    </div>

    <div class="R1__TopButton">
        <form>
            <div id="first__Button">
                <label for="test"></label>
                <label class="firstCheckbox">
                        <input class="button2" type="checkbox" name="area"/>
                        <span class="text1" align=center>柱</span>
                    </label>
            </div>
            <div id="second__Button">
                <label for="test"></label>
                <label class="firstCheckbox">
                            <input class="button2" type="checkbox" name="area"/>
                            <span class="text1" align=center>樑</span>
                        </label>
                <br>
            </div>
            <div id="third__Button">
                <label for="test"></label>
                <label class="firstCheckbox">
                            <input class="button2" type="checkbox" name="area"/>
                            <span class="text1" align=center>牆</span>
                        </label>
            </div>
        </form>
    </div>
    <div id="R1__bg" style="height: 45vh"><img alt=""></div>
    <div class="R1__BottomButton">
        <form>
            <div id="R1__BottomButtonLeft">
                <label for="test"></label>
                <label class="firstCheckbox">
                            <input class="button2" type="checkbox" name="area"/>
                            <span class="text1" align=center>樓板</span>
                        </label>
            </div>
            <div id="R1__BottomButtonRight">
                <label for="test"></label>
                <label class="firstCheckbox">
                                <input class="button2" type="checkbox" name="area"/>
                                <span class="text1" align=center>開口部</span>
                            </label>
                <br>
            </div>
        </form>
    </div>
