
<div class="page bigbox">
 <h2 class="titlep">請拍下劣化位置</h2>
 <h2 class="titlepo">需紀錄4張照片</h2>
  <div class="fle">
    <div class="image__upload">
        <label for="deteriorationImage1" class="image__logo">
			<h1 class="textpho">遠</h1>
            <img class="preview" src="view/app/image/buttons/camera.png"/>
        </label>
        <input id="deteriorationImage1" class="picture__button" name="image1" type="file" accept="image/*" capture="camera">
    </div>
    <div class="image__upload">
        <label for="deteriorationImage2" class="image__logo">
			<h1 class="textpho">近</h1>
            <img class="preview" src="view/app/image/buttons/camera.png"/>
        </label>
        <input id="deteriorationImage2" class="picture__button" name="image2" type="file" accept="image/*" capture="camera">
    </div>
    <div class="image__upload">
        <label for="deteriorationImage3" class="image__logo">
			<h1 class="textpho">細節</h1>
            <img class="preview" src="view/app/image/buttons/camera.png"/>
        </label>
        <input id="deteriorationImage3" class="picture__button" name="image3" type="file" accept="image/*" capture="camera">
    </div>
    <div class="image__upload">
        <label for="deteriorationImage4" class="image__logo">
			<h1 class="textpho">細節</h1>
            <img class="preview" src="view/app/image/buttons/camera.png"/>
        </label>
        <input id="deteriorationImage4" class="picture__button" name="image4" type="file" accept="image/*" capture="camera">
    </div>
 </div>
</div>