<div class="page" class="style2">

    <div class="Title1">
        <b>此劣化位置是否鋼筋外露？</b>
        <br>
    </div>
    <div class="first">
        <div class="left">
            <label for="test"></label>
            <label class="myCheckbox">
                <input class="button2" type="radio" name="RCUncover" value="1"/>
                <span class="text2" align=center>是</span>
            </label>
            <br>
        </div>
        <div class="right">
            <label for="test"></label>
            <label class="myCheckbox">
                <input class="button2" type="radio" name="RCUncover" value="0"/>
                <span class="text2" align=center>否</span>
            </label>
            <br>
        </div>
    </div>
    <div class="Title2">
        <b>此劣化位置是否為加蓋處？</b>
        <br>
    </div>
    <div class="second">
        <div class="left">
            <label for="test"></label>
            <label class="myCheckbox">
                <input class="button2" type="radio" name="addOn" value="1"/>
                <span class="text2" align=center>是</span>
            </label>
            <br>
        </div>
        <div class="right">
            <label for="test"></label>
            <label class="myCheckbox">
                <input class="button2" type="radio" name="addOn" value="0"/>
                <span class="text2" align=center>否</span>
            </label>
        </div>
    </div>

    <div class="Title3">
        <b id="psLeft">備註</b>
        <textarea id="ps" type=text cols="50" rows="5" style="font-size:4rem;width:750px;height:200px;background-color:transparent;" name="ps" ></textarea>
    </div>
    <div class="third">
        <div>
            <input class="button" id="final" type="submit" value="送出資料 "></input>
        </div>
    </div>
</div>
