<div class="page" class="style2">

    <div class="Title1">
        <b>此劣化位置是否有碎片剝落？</b>
    </div>
    <div class="first">
        <div class="left">
            <label for="test"></label>
            <label class="myCheckbox">
                <input class="button2" type="radio" name="flake" value="1"/>
                <span class="text2" align=center>是</span>
            </label>
        </div>
        <div class="right">
            <label for="test"></label>
            <label class="myCheckbox">
                    <input class="button2" type="radio" name="flake" value="0"/>
                    <span class="text2" align=center>否</span>
                </label>
            <br>
        </div>
    </div>

    <div class="Title2" >
        <b>剝落深度</b>
        <br>
    </div>
    <div class="second">
        <div class="left">
            <label for="test"></label>
            <label class="myCheckbox">
                <input class="button2" type="radio" name="flake_depth" value="0"/>
                <span class="text2" align="center">小於2.5cm</span>
            </label>
            <br>
        </div>
        <div class="right">
            <label for="test"></label>
            <label class="myCheckbox">
                <input class="button2" type="radio" name="flake_depth" value="1"/>
                <span class="text2" align=center>大於2.5cm</span>
            </label>
            <br>
        </div>
    </div>

    <div class="Title3">
        <b>碎片長度</b>
        <br>
    </div>
    <div class="third">
        <div class="left">
            <label for="test"></label>
            <label class="myCheckbox">
                <input class="button2" type="radio" name="flake_scrap" value="0"/>
                <span class="text2" align=center>小於1.5cm</span>
                </label>
            <br>
        </div>
        <div class="right">
            <label for="test"></label>
            <label class="myCheckbox">
                <input class="button2" type="radio" name="flake_scrap" value="1"/>
                <span class="text2" align=center>大於1.5cm</span>
            </label>
            <br>
        </div>
    </div>
</div>
