<div class="page">

    <div class="first">
        <b>是否有裂縫</b>
        <form>
            <div class="left"><input type="radio" name="crack" value="1" checked> 是<br></div>
            <div class="right"><input type="radio" name="crack" value="2"> 否<br></div>
        </form>
    </div>

    <div class="second">
        <b>長度</b>
        <form>
            <div class="left"><input type="radio" name="length" value="1" checked> 小於30cm<br></div>
            <div class="right"><input type="radio" name="length" value="2"> 大於30cm<br></div>
        </form>
    </div>

    <div class="third">
        <b>寬度</b>
        <form>
            <div class="left"><input type="radio" name="width" value="1" checked> 小於3mm<br></div>
            <div class="right"><input type="radio" name="width" value="2"> 大於3mm<br></div>
        </form>
    </div>
</div>