<div class="page">

    <div class="first">
        <b>是否剝落</b>
        <form>
            <div class="left"><input type="radio" name="flake" value="1" checked> 是</div>
            <div class="right"><input type="radio" name="flake" value="2"> 否<br></div>
        </form>
    </div>

    <div class="second">
        <b>深度</b>
        <form>
            <div class="left"><input type="radio" name="depth" value="1" checked> 小於2.5cm<br></div>
            <div class="right"><input type="radio" name="depth" value="2"> 大於2.5cm<br></div>
        </form>
    </div>

    <div class="third">
        <b>碎片長</b>
        <form>
            <div class="left"><input type="radio" name="length" value="1" checked> 小於1.5cm<br></div>
            <div class="right"><input type="radio" name="length" value="2"> 大於1.5cm<br></div>
        </form>
    </div>
</div>