<div class="page" class="style2">

    <div class="Title1">
        <b>此劣化位置是否有裂縫？</b>
    </div>
    <div class="first">
        <div class="left">
            <label for="test"></label>
            <label class="myCheckbox">
                <input class="button2" type="radio" name="crack" value="1"/>
                <span class="text2" align=center>是</span>
            </label>
            <br>
        </div>
        <div class="right">
            <label for="test"></label>
            <label class="myCheckbox">
                <input class="button2" type="radio" name="crack" value="0"/>
                <span class="text2" align=center>否</span>
            </label>
            <br>
        </div>
    </div>
    <div class="Title2">
        <b>裂縫長度</b>
    </div>
    <div class="second">
        <div class="left">
            <label for="test"></label>
            <label class="myCheckbox">
                <input class="button2" type="radio" name="crack_length" value="0"/>
                <span class="text2" align=center>小於30cm</span>
            </label>
            <br>
        </div>
        <div class="right">
            <label for="test"></label>
            <label class="myCheckbox">
                <input class="button2" type="radio" name="crack_length" value="1"/>
                <span class="text2" align=center>大於30cm</span>
            </label>
            <br>
        </div>
    </div>


    <div class="Title3">
        <b>裂縫寬度</b>
        <br>
    </div>
    <div class="third">
        <div class="left">
            <label for="test"></label>
            <label class="myCheckbox">
                <input class="button2" type="radio" name="crack_width" value="0"/>
                <span class="text2" align=center>小於3mm</span>
            </label>
            <br>
        </div>
        <div class="right">
            <label for="test"></label>
            <label class="myCheckbox">
                <input class="button2" type="radio" name="crack_width" value="1"/>
                <span class="text2" align=center>大於3mm</span>
            </label>
            <br>
        </div>
    </div>
</div>
