<div class="page">
    <div class="title">
        <b>劣化紀錄</b>
    </div>
    <div>
        <form>

            <input type="checkbox" value="1" name="Product_1"> 柱<br>
            <input type="checkbox" value="2" name="Product_2"> 樑<br>
            <input type="checkbox" value="3" name="Product_3"> 牆<br>
            <input type="checkbox" value="4" name="Product_3"> 樓板<br>
            <input type="checkbox" value="5" name="Product_3"> 開口<br>
        </form>
        <b>可複選</b>
    </div>