<main class="deterioration__image">
    <div class="image__upload">
        <label for="houseImage" class="image__logo">
            <img class="preview" src="view/app/image/buttons/camera.png"/>
        </label>
        <input class="picture__button" name="image1" type="file" accept="image/*" capture="camera">
    </div>
    <div class="image__upload">
        <label for="houseImage" class="image__logo">
            <img class="preview" src="view/app/image/buttons/camera.png"/>
        </label>
        <input class="picture__button" name="image2" type="file" accept="image/*" capture="camera">
    </div>
    <div class="image__upload">
        <label for="houseImage" class="image__logo">
            <img class="preview" src="view/app/image/buttons/camera.png"/>
        </label>
        <input class="picture__button" name="image3" type="file" accept="image/*" capture="camera">
    </div>
    <div class="image__upload">
        <label for="houseImage" class="image__logo">
            <img class="preview" src="view/app/image/buttons/camera.png"/>
        </label>
        <input class="picture__button" name="image4" type="file" accept="image/*" capture="camera">
    </div>
</main>