<div class="page">

    <div class="Title">
        <b>此劣化位置是否有碎片剝落？</b>
    </div>
    <div class="first">
        <form>
            <div class="left">
                <label for="test"></label>
                <label class="myCheckbox">
                    <input class="button2" type="radio" name="flake"/>
                    <span class="text" align=center>是</span>
                </label>
            </div>
            <div class="right">
                <label for="test"></label>
                <label class="myCheckbox">
                        <input class="button2" type="radio" name="flake"/>
                        <span class="text" align=center>否</span>
                    </label>
                <br>
            </div>
        </form>
    </div>

    <div class="Title">
        <b>剝落深度</b>
        <br>
    </div>
    <div class="second">
        <form>
            <div class="left">
                <label for="test"></label>
                <label class="myCheckbox">
                        <input class="button2" type="radio" name="depth"/>
                        <span class="text" align=center>小於2.5cm</span>
                    </label>
                <br></div>
            <div class="right">
                <label for="test"></label>
                <label class="myCheckbox">
                        <input class="button2" type="radio" name="depth"/>
                        <span class="text" align=center>大於2.5cm</span>
                    </label>
                <br></div>
        </form>
    </div>

    <div class="Title">
        <b>碎片長度</b>
        <br>
    </div>
    <div class="third">
        <form>
            <div class="left">
                <label for="test"></label>
                <label class="myCheckbox">
                            <input class="button2" type="radio" name="depth"/>
                            <span class="text" align=center>小於1.5cm</span>
                        </label>
                <br></div>
            <div class="right">
                <label for="test"></label>
                <label class="myCheckbox">
                            <input class="button2" type="radio" name="depth"/>
                            <span class="text" align=center>大於1.5cm</span>
                        </label>
                <br></div>
        </form>
    </div>
</div>