<div class="page">

    <div class="first">
        <b>是否為加蓋處</b>
        <form>
            <div class="left"><input type="radio" name="addOns" value="1" checked> 是<br></div>
            <div class="right"><input type="radio" name="addOns" value="2"> 否<br></div>
        </form>
    </div>

    <div class="second">
        <b>是否鋼筋外露</b>
        <form>
            <div class="left"><input type="radio" name="reinforcementUncover" value="1" checked> 是<br></div>
            <div class="right"><input type="radio" name="reinforcementUncover" value="2"> 否<br></div>
        </form>
    </div>

    <div class="third">
        <b>備註</b><br>
        <br>
        <TEXTAREA type=text COLS=50 ROWS=5 style="width:300px;height:60px;font-size:14px;"></TEXTAREA>
    </div>
    <div class="button">
        <input type="submit" value="送出資料 " style="width:200px;height:40px;font-size:14px;"></input>
    </div>
</div>