.page {
    /* position */
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    font-weight: bold;
}

.page>.page__title {
    /* layout */
    display: block;
    /* position */
    
    margin-bottom: 1rem;
    /* skin */
    font-size: 4rem;
}

#houseInfo,
.border {
    /* layout */
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    /* position */
    padding-left: 2rem;
    /* skin */
	width:100%;
    border: 4px solid white;
    border-radius: 15px;
    z-index: 10;
    color: black;
    line-height: 2vh;
}

p,
input {
   
    font-size: 3rem;
}

.floorRecord {
    /* layout */
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    /* position */
    /*skin*/
    margin-left: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2.5rem;
}

#floorNumber {
    height: 20vh;
}

.scale{
    height:100px;
    width: 40px;
}
