#f4_plane{
	height:70%;
}
#f4_plane>canvas{
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
}
#d_tags{
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
}
.record{
	font-size:8vmin;
	position:absolute;
	margin:0;
}
#recordList{
	position:absolute;
	bottom:10%;
	width:100%;
	height:15%;
	background-color:rgba(255,255,255,0.5);
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	flex-wrap: nowrap;
}
.recordIcon{
	margin:0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.recordIcon>img{
	height:40%;
	width:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.recordIcon>figcaption{
	text-align: center;
}
