<html>

<head>
    <meta charset="utf-8">
    <title>劣化Info7</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="floorForm7.css" rel="stylesheet" type="text/css">
    <style></style>
</head>

<body>
    <div class="flake">
        <b>是否剝落</b>
        <form>
            <input type="radio" name="flake" value="1" checked> 是<br>
            <input type="radio" name="flake" value="2"> 否<br>
        </form>

    </div>

    <div class="depth">
        <b>深度</b>
        <form>
            <input type="radio" name="depth" value="1" checked> 小於2.5cm<br>
            <input type="radio" name="depth" value="2"> 大於2.5cm<br>
        </form>

    </div>

    <div class="length">
        <b>碎片長</b>
        <form>
            <input type="radio" name="length" value="1" checked> 小於1.5cm<br>
            <input type="radio" name="length" value="2"> 大於1.5cm<br>
        </form>

    </div>
</body>

</html>