<html>

<head>
    <meta charset="utf-8">
    <title>劣化Info9</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="floorForm9.css" rel="stylesheet" type="text/css">
    <style></style>
</head>

<body>
    <div class="addOns">
        <b>是否為加蓋處</b>
        <form>
            <input type="radio" name="addOns" value="1" checked> 是<br>
            <input type="radio" name="addOns" value="2"> 否<br>
        </form>

    </div>



    <div class="reinforcementUncover">
        <b>是否鋼筋外露</b>
        <form>
            <input type="radio" name="reinforcementUncover" value="1" checked> 是<br>
            <input type="radio" name="reinforcementUncover" value="2"> 否<br>
        </form>

    </div>

    <div class="remarks">
        <b>備註</b>
        <input type=text></input>
    </div>

    <input type="submit" value="送出資料" style="width:120px;height:40px;font-size:20px;">
</body>

</html>