<html>
<p>建築種類</p>

<div>
    <form action="">
        <option value="">透天</option>
        <option value="">公寓</option>
        <option value="">大廈</option>
        <option value="">三合院</option>
        <option value="">其他</option>
    </form>
</div>
<p>建築用途</p>
<div>
    <form action="">
        <option value="">住宅</option>
        <option value="">辦公室</option>
        <option value="">工廠</option>
        <option value="">商店</option>
        <option value="">混合式</option>
    </form>
</div>

<p>建築結構</p>
<div>
    <form action="">
        <option value="">鋼筋混凝土</option>
        <option value="">鋼骨</option>
        <option value="">木造</option>
        <option value="">磚造</option>
        <option value="">其他</option>
    </form>
</div>
<br>

<p>建築規模</p>

<p>地上</p><input type=text></input>
<p>樓</p>
<p>地下</p><input type=text></input>
<p>樓</p>

<p><input type='submit' value='完成基本資料'></p>

</html>