@font-face {
    font-family: '3ds';
    src: local("3ds Regular"),
    url('../../fonts/3ds/3ds Regular.ttf');
}
.input_text{
    border-radius: 10vmin;
    font-size:5vmin;
    line-height: 10vmin;
}
.next_button{
    border-radius: 10vmin;
    background-color:#ff9c00;
    font-size: 5vmin;
}
.ground{
	position:fixed;
	width:100vw;
	height:100vh;
	left:0;
	top:0;
}

body{
	margin:0;
}
