@font-face {
    font-family: '3ds';
    src: local("3ds Regular"),
    url('../../fonts/3ds/3ds Regular.ttf');
}
.roundBorder{
    border-radius: 10vmin;
}
.content{
	position:absolute;
	box-sizing:border-box;
	font-family:'3ds', Microsoft JhengHei;
	padding:3vmin;
	width:100%;
	height:90%;
	bottom:0;
	z-index:1;
}
.input_text{
    font-size:5vmin;
    line-height: 10vmin;
}
.next_button{
    border-radius: 10vmin;
    background-color:#ff9c00;
    font-size: 3vmax;
}
.ground{
	position:fixed;
	width:100vw;
	height:100vh;
	left:0;
	top:0;
}

body{
	margin:0;
	box-sizing: border-box;
}
