#upperBar{
	position:fixed;
	box-sizing: border-box;
	top:0;
	left:0;
	width:100vw;
	height:10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index:500;
}
#hamburger{
	position:absolute;
	height:60%;
	width:auto;
	top: 3vmin;
	left:3vmin;
}
#userName{
	margin:0;
	color:#FFF;
	display:inline-block;
	font-family:'3ds';
	font-size:5vmax;
}
