#upperBar{
	background-repeat: no-repeat;
	background-size: 92% auto;
	background-position: bottom center;
	position:fixed;
	box-sizing: border-box;
	top:0;
	left:0;
	width: 100%;
	height:13vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index:500;
}
#hamburger{
	position:absolute;
	height:40%;
	width:auto;
	top: center;
	left:3vmin;
}
#userName{
	margin:0;
	color:#FFF;
	display:inline-block;
	font-family:'3ds';
	font-size:5vmax;
}
