<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <title>building-deterioration-record-system</title>
    <link rel="stylesheet" type="text/css" href="web1.css">
</head>
<body class="b">
       <div class="test1">
            <img src="./image/house_pic.PNG" class="grid-item sidebar"  >
            <img src="./image/line.PNG" class="grid-item footer"  >
                <div class="grid-item footer">
                </div>
                <div class="grid-item main_1"> 
                        <h1>Save every detail. Check building safety.</h1>   
                    </div>
                        <a class="grid-item design" href=" ">設計理念</a> 
                         <a class="grid-item about" href=" ">關於我們</a> 
                        <a class="grid-item login" href=" ">會員登入</a> 
                    <div class="grid-item left_1">
                    </div>
                   
       </div>
       <div class="test2">
            <div class=" header">
                </div>
            <div class=" main_11" >
                </div>
                <h1 class=" left_11">完整記錄建物資訊</h1>
                <h1 class=" left_111">步驟式填答，重要資訊不遺漏</h1>
                <div class=" main_12" >
                    </div>
                <h1 class=" left_12">快速及簡易操作</h1>
                <h1 class=" left_112">輕鬆紀錄與繪圖，不須紙筆，省時又便利</h1>
                <div class=" main_13" >
                    </div>
                <h1 class=" left_13">立即連結專家評估</h1>
                <h1 class=" left_113">上傳完整資料專家進一步評估安全</h1>
       </div>
       <div class="test3">
            <h1 class=" left_122">設計團隊</h1>
            <h1 class=" left_123">Design team</h1>
       </div>
<script src="web1.js"></script>
</body>
</html>
