/* initialize */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.header {
    /* [ layout ] */
    display: grid;
    grid-template-areas: "logo title link" 
                        "aa aa aa"
                        "house house house";
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 3fr 2fr;

    /* [ position ] */ 
    height: 100vh;
    width: 100vw;

    /* [ skin ] */
    background-image: url('./image/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* .header > .header__logo */
.header > .header__logo{
    /* [ position ] */
    grid-area: logo;
    height: 28vh;
    position: absolute;
    top:4vh;
    left:2vw;
}


.header > .header__word{
    /* layout */
    display: flex;
    align-self: center;

    /* position */
    grid-area: aa;
    margin-left: 15vw;
    margin-top:15vh;
    /* skin */
    color: #ffffff;
    font-size: 12vh;
    font-family:Agency FB;
}

.header > .header__link {
    /* position */
    display: flex;
    grid-area: link;
    width: auto;
    align-items: center
}

.header__link > .link__item {
    /* layout */
    display: inline-block;

    /*position*/
    margin-left:3vw;
    margin-top:-2vh;

    /* skin */
    color: #ffffff;
    font-size: 2.5vh;
    font-family:微軟正黑體;
}

.header > .header__house{
    /* [ position ] */
    grid-area: house;
    height: 28vh;
    margin-left:75vw;
    margin-top:6vh ;
    z-index: 2;
}

.header > .header__line{
    /* [ position ] */
    grid-area: house;
    width:100vw;
    margin-top:31vh ;
    z-index: 1;
}

a {
    text-decoration:none;
    color: #ffffff;
} 

.header_1 {
    /* [ layout ] */
    display: grid;
    grid-template-areas: ". logo_1 ."
                         " pic pic pic"
                         "word word word"
                         "word_ps word_ps word_ps";
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    /* [ position ] */ 
    height: 100vh;
    width: 100vw;

    /* [ skin ] */
    background-image: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_1 > .header1__logo{
    /* [ position ] */
    grid-area: logo_1;
    height: 20vh;
    margin-top:3vh;
    margin-left:8vw;
}


.header_1 > .header1__pic {
    /* position */
    display: flex;
    grid-area: pic;
    width: auto;
    align-items: center
}

.header1__pic > .header1__pic1 {
    /* layout */
    display: inline-block;

    /*position*/
    height: 25vh;
    margin-top:-3vh;
    margin-left:16vw;
}

.header_1 > .header1__word {
    /* position */
    display: flex;
    grid-area: word;
    width: auto;
    align-items: center
}

.header1__word > .header1__pic2 {
    /* layout */
    display: inline-block;
    
    /*position*/
    margin-top: -8vh;
    margin-left: 12vw;
}

.header_1 > .header1__wordps {
    /* position */
    display: flex;
    grid-area: word_ps;
    width: auto;
    align-items: center
}

.header1__wordps > .header1__ps {
    /* layout */
    display: inline-block;

    /*position*/
   
    margin-top:-15vh;
    margin-left:8vw;

    /*font*/
    font-size: 3vh;
    font-family:微軟正黑體;
    color: #878686;
    
}

#rectangle{
    width: 17vw;
    height: 5vh;
    background: #3bc7aa;
    color: #ffffff;
    display: flex;
    font-size: 3.5vh;
    font-family:微軟正黑體;
    justify-content: center;
    align-items: center;
}

.header_2 {
        /* [ layout ] */
        display: grid;
        grid-template-areas: " title "
                             " pic_2 ";
        grid-template-rows: 1fr 2fr ;
    
        /* [ position ] */ 
        height: 100vh;
        width: 100vw;

        /* [ skin ] */
        background-image: #ffffff;
        background-repeat: no-repeat;
        background-size: cover;
}
    
   
.header_2 > .header2__title {
        /* position */
        display: flex;
        grid-area: title;
        width: auto;
        align-items: center
}
    
.header2__title> .header2__title1 {
        /* layout */
        display: inline-block;
        /*position*/
      margin-top:-10vh;
      margin-left:1vw;
        /*font*/
        font-size: 6vh;
        color: #b4b4b4;
}

#title_c{
    font-family:微軟正黑體;
}

#title_e{
    font-family:Bahnschrift;
}

.header_2 > .header2__pic {
    /* position */
    display: flex;
    grid-area: pic_2;
    width: auto;
    align-items: center
}

.header2__pic > .header2__pic1 {
    /* layout */
    display: inline-block;

    /*position*/
    height: 50vh;
    margin-top:-30vh;
    margin-left:2vw;
}
