<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <title>building-deterioration-record-system</title>
    <link rel="stylesheet" type="text/css" href="web.css">
</head>
 <body> 
        <header class="header">
                <img class="header__logo" src="./image/Logo.jpg" >
                <div  class="header__word"> 
                    <h1 class="header_wordloc">Save every detail.</h1> 
                    <h1 class="header_wordloc">Check building safety.</h1>
                </div> 
                <section class="header__link">
                    <a class="link__item" href=" ">會員登入</a>
                    <a class="link__item" href=" ">關於我們</a>
                    <a class="link__item" href=" ">設計理念</a>
                </section>
                <img class="header__house" src="./image/house_pic.png">
                
            </header>
        <div class="header_1">
            <img class="header1__logo" src="./image/logo2.PNG" >
            <section class="header1__pic">
                <img class="header1__pic1" src="./image/pic1.jpg" >
                <img class="header1__pic1" src="./image/pic2.jpg" >
                <img class="header1__pic1" src="./image/pic3.jpg" >
            </section>
            <div class="header1__word">
                <h2 class="header1__pic2" >完整記錄建物資訊</h2>
                <h2 class="header1__pic2" >快速及簡易操作</h2>
              <h2 class="header1__pic2" >立即連結專家評估</h2>
            </div>
            <div class="header1__wordps">
                    <h3 class="header1__ps">步驟式填答，重要資訊不遺漏</h3>
                    <h3 class="header1__ps">輕鬆紀錄與繪圖，不須紙筆，省時又便利</h3>
                    <h3 class="header1__ps">上傳完整資料專家進一步評估安全</h3>
            </div>
        </div>
        <div class="header_2">
            <div class="header2__title">
                <h1 class="header2__title1" id="title_c">設計團隊</h1>
                <h1 class="header2__title1" id="title_e">Design team</h1>
            </div>
            <section class="header2__pic1">
                <h2 class="photo_title">Leader/Design</h2>
                <h3 class="photo_word">工設所碩一 何孟珣</h3>
            </section>           
            <section class="header2__pic2">
                    <h2 class="photo_title">Programmer</h2>
                    <h3 class="photo_word">資訊系大三 伍志忠</h3>
            </section>           
            <section class="header2__pic3">
                    <h2 class="photo_title">Programmer</h2>
                    <h3 class="photo_word">資訊系大二 林謙慈</h3>
            </section>
            <section class="header2__pic4">
                    <h2 class="photo_title">Programmer</h2>
                    <h3 class="photo_word">水利系大四 柯奇均</h3>
            </section>
            <section class="header2__pic5" >
                    <h2 class="photo_title">Programmer</h2>
                    <h3 class="photo_word">水利系大四 蔡常忻</h3>
            </section>

        </div>

        <script src="web1.js"></script>
        </body>
        </html>
