<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <title>building-deterioration-record-system</title>
    <link rel="stylesheet" type="text/css" href="web1.css">
</head>
 <body> 
        <header class="header">
                <img class="header__logo" src="./image/Logo.jpg" >
                <div  class="header__word"> 
                    <h1 class="header_wordloc">Save every detail.</h1> 
                    <h1 class="header_wordloc">Check building safety.</h1>
                </div> 
                <section class="header__link">
                    <a class="link__item" href=" ">會員登入</a>
                    <a class="link__item" href=" ">關於我們</a>
                    <a class="link__item" href=" ">設計理念</a>
                </section>
                <img class="header__house" src="./image/house_pic.png">
                <img class="header__line" src="./image/line.png">
            </header>
        <div class="header_1">
            <img class="header1__logo" src="./image/logo2.PNG" >
            <section class="header1__pic">
                <img class="header1__pic1" src="./image/pic1.jpg" >
                <img class="header1__pic1" src="./image/pic2.jpg" >
                <img class="header1__pic1" src="./image/pic3.jpg" >
            </section>
            <div class="header1__word">
                <h2 class="header1__pic2" id="rectangle">完整記錄建物資訊</h2>
                <h2 class="header1__pic2" id="rectangle">快速及簡易操作</h2>
              <h2 class="header1__pic2" id="rectangle">立即連結專家評估</h2>
            </div>
            <div class="header1__wordps">
                    <h3 class="header1__ps">步驟式填答，重要資訊不遺漏</h3>
                    <h3 class="header1__ps">輕鬆紀錄與繪圖，不須紙筆，省時又便利</h3>
                    <h3 class="header1__ps">上傳完整資料專家進一步評估安全</h3>
            </div>
        </div>
        <div class="header_2">
            <div class="header2__title">
                <h1 class="header2__title1" id="title_c">設計團隊</h1>
                <h1 class="header2__title1" id="title_e">Design team</h1>
            </div>
            <section class="header2__pic">
                    <img class="header2__pic1" src="./image/1.jpg" >
                    <!--<span class="header2__pic1" >Leader/design</span>-->
                    <img class="header2__pic1" src="./image/2.jpg" >
                    <img class="header2__pic1" src="./image/3.jpg" >
                    <img class="header2__pic1" src="./image/4.jpg" >
                    <img class="header2__pic1" src="./image/5.jpg" >
                </section>

        </div>

        <script src="web1.js"></script>
        </body>
        </html>
