/* initialize */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.header {
    /* [ layout ] */
    display: grid;
    grid-template-areas: "title" 
                        "aa"
                        "house";
    grid-template-rows: 2fr 3fr 2fr;

    /* [ position ] */ 
    height: 100vh;
    width: 100vw;

    /* [ skin ] */
    background-image: url('./image/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 20px solid #59ccb2;
    z-index: 1;
}

/* .header > .header__logo */
.header > .header__logo{
    /* [ position ] */
    grid-area:title;
    height: 28vh;
    position: absolute;
    top:4vh;
    left:2vw;
}

.header > .header__word{
    /* layout */
    display: block;

    /* position */
    grid-area: aa;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;

    /* skin */
    color: #ffffff;
    font-size: 4rem;
    font-family:Agency FB;
}

.header__word > .header_wordloc{
    display: inline-block; 
}

.header > .header__link {
    /* position */
    display: flex;
    grid-area: title;
    width: auto;
    align-items: center;
    /*position*/
    margin-left:70vw;
    
}

.header__link > .link__item {
    /* layout */
    display: inline-block;

    /*position*/
    margin-left:3vw;
    margin-top:-8vh;

    /* skin */
    color: #ffffff;
    font-size: 2.5vh;
    font-family:微軟正黑體;
}

.header > .header__house{
    /* [ position ] */
    grid-area: house;
    height: 35vh;
    position: absolute;
    right:5vw;
    bottom:-6vh;
    z-index: 2;
}



a {
    text-decoration:none;
    color: #ffffff;
} 

.header_1 {
    /* [ layout ] */
    display: grid;
    grid-template-areas: ". logo_1 ."
                         " pic pic pic"
                         "word word word"
                         "word_ps word_ps word_ps";
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1.5fr 0.5fr 1fr;
    /* [ position ] */ 
    height: 100vh;
    width: 100vw;

    /* [ skin ] */
    background-image: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_1 > .header1__logo{
    /* [ position ] */
    grid-area: logo_1;
    height: 20vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-right:auto;
    margin-left:auto;
}


.header_1 > .header1__pic {
    /* position */
    display: flex;
    grid-area: pic;
    width: auto;
    align-items: center
}

.header1__pic > .header1__pic1 {
    /* layout */
    display: inline-block;

    /*position*/
    height: 25vh;
    margin-right:auto;
    margin-left:auto;
}

.header_1 > .header1__word {
    /* position */
    display: flex;
    grid-area: word;
    width: auto;
    align-items: center
}

.header1__word > .header1__pic2 {
    /* layout */
    display: inline-block;
    
    /*position*/
    margin-top: auto;
    margin-bottom: auto;
    margin-right:auto;
    margin-left:auto;

    width: 17vw;
    height: 5vh;
    background: #3bc7aa;
    color: #ffffff;
    font-size: 3.5vh;
    font-family:微軟正黑體;
    text-align: center;
    
}

.header_1 > .header1__wordps {
    /* position */
    display: flex;
    grid-area: word_ps;
    width: auto;
    align-items: center
}

.header1__wordps > .header1__ps {
    /* layout */
    display: inline-block;

    /*position*/
   
    margin-top:-15vh;
    margin-right:auto;
    margin-left:auto;

    /*font*/
    font-size: 1.2rem;
    font-family:微軟正黑體;
    color: #878686;
    
}



.header_2 {
        /* [ layout ] */
        display: grid;
        grid-template-areas: " title title title title title "
                             "pic_1 pic_2 pic_3  pic_4 pic_5" ;
        grid-template-rows: 1fr 3fr ;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr; 
        /* [ position ] */ 
        height: 100vh;
        width: 100vw;

        /* [ skin ] */
        background-image: #ffffff;
        background-repeat: no-repeat;
        background-size: cover;
}
    
   
.header_2 > .header2__title {
        /* position */
        display: flex;
        grid-area: title;
        width: auto;
        align-items: center
}
    
.header2__title> .header2__title1 {
        /* layout */
        display: inline-block;
        /*position*/
        margin-top: auto;
        margin-bottom: auto;
         margin-left:1vw;
        /*font*/
        font-size: 6vh;
        color: #b4b4b4;
}

#title_c{
    font-family:微軟正黑體;
}

#title_e{
    font-family:Bahnschrift;
}

.header_2 > .header2__pic1 {
    /* position */
    display: inline-block;
    grid-area: pic_1;
    background-image:url("./image/1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top:10vh;
    margin-right:5px;
    
}

.header_2 > .header2__pic2 {
    /* position */
    display: inline-block;
    grid-area: pic_2;
    
    background-image:url("./image/2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top:10vh;
    margin-right:5px;
    
}

.header_2 > .header2__pic3 {
    /* position */
    display: inline-block;
    grid-area: pic_3;
    
    background-image:url("./image/3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top:10vh;
    margin-right:5px;
    
}

.header_2 > .header2__pic4 {
    /* position */
    display: inline-block;
    grid-area: pic_4;
    background-image:url("./image/4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top:10vh;
    margin-right:5px;
    
}

.header_2 > .header2__pic5 {
    /* position */
   
    grid-area: pic_5;
    
    background-image:url("./image/5.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top:10vh;
    margin-right:5px; 
}

.photo_title{
    color:#ffffff;
    font-family: Gadugi;
    font-size: 1.5rem;
    margin-left:1.5vw;
}

.photo_word{
    color:#ffffff;
    font-family: 微軟正黑體;
    font-size: 1.2rem;
    margin-top:30vh;
    margin-left:1.5vw;
}
