#bar{
    width: 100vw;
}

#logo{
    position: absolute;
    top:0px;
    left:2%;
    height:13%;
}
.test1 {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.1fr 0.6fr 0.3fr ;
    grid-template-rows: 0.1fr 0.15fr 0.15fr 0.15fr 0.55fr ;
    grid-template-areas: "left_1  . . "
                         "main . . "
                         "main_11 . . "
                         "main_12 . . "
                         ". . . ";
 }


  .left_1 {
    grid-area:left_1;
    background-image: url("logo.png");
    background-repeat:no-repeat;
    position: absolute;
    top:10%;
    left:10%;
  }

  .main_1 {
    grid-area: main_1;
    color: #ffffff;
    display: flex;
    font-size: 2em;
    font-family:Agency FB;
    justify-content: center;
    align-items: center;
    height: 100%; 
 }
  .main{
    grid-area: main;
    color: #595959;
    display: flex;
    font-family:微軟正黑體;
    
 }
.main_11{
    grid-area: main_11;
    color: #595959;
    display: flex; 
    font-family:微軟正黑體;
    
 }
.main_12{
    grid-area: main_12;
    color: #595959;
    display: flex; 
    font-family:微軟正黑體;
    
}



#login{
    color: #ffffff;
    display: flex;
    font-size: 1em;
    font-family:微軟正黑體;
    position: absolute;
    left:90%;
    top:50px;
}

#about{
    color: #ffffff;
    display: flex;
    font-size: 1em;
    font-family:微軟正黑體;
    position: absolute;
    left:82%;
    top:50px;
}

#design{
    color: #ffffff;
    display: flex;
    font-size: 1em;
    font-family:微軟正黑體;
    position: absolute;
    left:75%;
    top:50px;
}

#word{
    color: #ffffff;
    display: flex;
    font-size: 1.5em;
    font-family:Agency FB;
    position: absolute;
    left:25%;
    top:30px;
}




.b{
    margin: 0%;
}

a {
    text-decoration:none;
    color: #ffffff;
} 