<div id="arrow">
    <img src="../image/buttons/arrow.PNG"></img>
    <hr width="100" align="center" noshade />
</div>
<div id="houseInfo">
    <img src="../image/buttons/houseInfo.PNG"></img>
    <h1>房屋資料</h1>
    <hr width="100" align="center" noshade />
</div>
<div id="personInfo">
    <img src="../image/buttons/personInfo.PNG"></img>
    <h1>個人資料設定</h1>
    <hr width="100" align="center" noshade />
</div>
<div id="setting">
    <img src="../image/buttons/setting.PNG"></img>
    <h1>其他設定</h1>
    <hr width="100" align="center" noshade />
</div>
<div id="logOut">
    <img src="../image/buttons/logOut.PNG"></img>
    <h1>登出</h1>
    <hr width="100" align="center" noshade />
</div>