@font-face {
	font-family: AgencyFB;
	src: local("Agency FB"),
	url('/fonts/AGENCYR_0.TTF');
}
body{
	margin:0;
}
#background{
	position:absolute;
}
.middle{
	white-space: nowrap;
	position:absolute;
	margin:0;
	left: 50%;
	transform: translate(-50%, -50%);
}
#title{
	top:5%;
	font-family:AgencyFB;
	font-weight:lighter;
	color:#7D7D7D;
}
#subTitle{
	top:15%;
	font-family:AgencyFB;
	font-weight:lighter;
}
#content{
	position:absolute;
	top:25%;
	width:100%;
	height:75%;
	background-color:rgba(255,255,255,0);
}
.person{
	font-family:Helvetica,"Microsoft JhengHei",Arial,sans-serif!important;
	position:absolute;
	width:18%;
	height:100%;
	background-color:rgba(255,255,255,0);
}
.photo{
    height:50%;
	position:relative;
}
.headImg{
	position:absolute;
	object-fit: cover;
	width:99%;
	height:99%;
	border:1.5px #7E7E7E solid;
}
.tag{
	position:absolute;
	right:0;
	bottom:0;
	width:50%;
}
.tagImg{
	width:100%;
	height:auto;
}
.tagText{
	position:absolute;
	top:50%;
	width:100%;
	color:#FFF;	
	text-align:center;
}
.name{
	top:55%;
	color:#333;
	font-weight:lighter;
}
.department{
	top:65%;
	color:#BBB;
	font-weight:lighter;
}
.info{
	position:absolute;
	top:70%;
}
p{
	color:#555;
}
