            <header class="header">
                <img class="header__logo" src="view/web/image/Logo.png" >
                <h1  class="header__word"> Save every detail. Check building safety.</h1> 
                <section class="header__link">
                    <a class="link__item" href=" ">會員登入</a>
                    <a class="link__item" href=" ">關於我們</a>
                    <a class="link__item" href=" ">設計理念</a>
                </section>
            </header>

            <main class="main">
            <form class="main__form" onsubmit="return false;">
                <img class="form__title" src="view/web/image/title.png">
                <h3 class="form__question" >1.路名：</h3>
                <section class="form__option" >
                    <input  id="question1" class="option__item" name="location" > 
                </section>
                <br>
                
                <h3  class="form__question">2.劣化程度(可複選)：</h3>
                <section class="form__option" id="question2">
                    <section class="option__item">
                        <input class="location" type="checkbox" name="pc"  id="pc" >
                        <h6 class="location">鋼筋外露</h6>
                    </section>
                    <section class="option__item">
                        <input  class="location" type="checkbox" name="flame" id="flake"/>
                        <h6 class="location" >碎片2.5cm、長1.5cm</h6>
                    </section>
                    <section class="option__item">
                        <input class="location" type="checkbox" name="crack"id="crack"/>
                        <h6 class="location" >裂縫長30cm、寬3mm</h6>
                    </section>
                </section>
                <br>

                <h3 class="form__question">3.時間：</h3>
                <section class="form__option" id="question3" >
                    <section class="option__item">
                        <input class="location" type="radio" name="time" id="month" value="1"/>
                        <h6 class="location">1個月內</h6>
                    </section>  
                    <section class="option__item">
                        <input class="option__item" type="radio" name="time" id="dmonth" value="3"/>
                        <h6 class="location">3個月內</h6>
                    </section>
                    <section class="option__item">
                        <input class="option__item" type="radio" name="time" id="year" value="6"/>
                        <h6 class="location">半年內</h6><br>
                    </section>
                    </section>
                    <button id="form__submit" class="form__submit">送出資料</button> 
            </form>
            </main>
            <article>
                <h2 class=table_1>共有幾筆</h2>   
                <section id=table_location >
                    <table class="table_sum" id="table">
                    <thead> 
                        <th>編號</th> 
                        <th>地址</th>
                        <th>屋主姓名</th>
                        <th>屋主電話</th>
                        <th>新增日期</th>
                        <th>勾選</th>
                    </thead> 
                    <tbody>
                        <td>1</td>
                        <td>台南市東區大學路一號</td>
                        <td>王小明</td>
                        <td>0987487587</td>
                        <td>2019-02-30</td>
                        <td></td>
                    </tbody>
                    </table> 
                </section>
            </article>
