.page {
    /* position */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
}

.page > .page__title {
    /* layout */
    display: block;

    /* position */
    height: auto;
    margin: 0;
    margin-left: 2rem;
    margin-bottom: 2rem;

    /* skin */
    font-size: 3rem;
}

.page > .page__input {
    /* layout */
    display: block;

    /* position */
    width: 100%;
    height: 8rem;
    margin-left: 2rem;
    margin-bottom: 3rem;

    /* skin */
    border-radius: 1rem;
    font-size: 5rem;
    
}

.page > .image__upload {
    /* layout */
    display: grid;
    grid-template-areas: "picture";


    /* position */
    width: 98%;
    height: 20rem;
    margin-left: 2rem;

    /* skin */
    border: 1rem solid white;

}

#houseImage {
    /* position */
    display: block;
    grid-area: picture;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;

    /* skin */
    color: rgba( 0, 101, 111, 0 );
}

.image__upload > .image__logo {
    /* position */
    display: flex;
    align-content: center;
    justify-content: center;
    grid-area: picture;
    height: 100%;
    width: auto;
}

.image__upload > .image__logo > .preview {
    /* position */
    display: flex;

    align-self: center;
    justify-self: center;
    height: 50%;
    width: auto;
}