.page {
    /* position */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    font-weight: bold;
}

.page>.page__title {
    /* layout */
    display: block;
    /* position */
    height: 4rem;
    margin: 0;
    margin-left: 2rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
    /* skin */
    font-size: 3rem;
}

.page>.page__floor {
    /* position */
    margin-left: 2rem;
}

.page__input {
    /* layout */
    display: block;
    /* position */
    width: 100%;
    height: 8rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
    /* skin */
    border-radius: 1rem;
    font-size: 3rem;
}

.page__input>.input__item {
    /* skin */
    font-size: 5rem;
}

.floor__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    font-size: 3.5rem;
}

.floor__flex>input {
    font-size: 2rem;
}

#submitHouse {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 4vh;
    background-color: #ff9c00;
    font-size: 2rem;
    font-weight: bold;
}
