.header {
    /*  background-color: #8BC574;*/
    display: block;
    /* align-self: center;*/
    grid-area: header;
    margin: 10px;
}

.BuildingType {
    /*  background-color: #748CC5;*/
    display: block;
    /*align-self: center;*/
    grid-area: BuildingType;
    margin: 10px;
}

.BuildingUsage {
    /* background-color: #C57474;*/
    display: block;
    /*align-self: center;*/
    grid-area: BuildingUsage;
    margin: 10px;
}

.BuildingStruc {
    /*  background-color: #FCE052;*/
    display: block;
    /* align-self: center;*/
    grid-area: BuildingStruc;
    margin: 10px;
}

.BuildingScale {
    /* background-color: #ffad86;*/
    display: block;
    /* align-self: center;*/
    grid-area: BuildingScale;
    margin: 10px;
}

.BuildingScaleUp {
    /* background-color: #ffad86;*/
    display: block;
    /*align-self: center;*/
    grid-area: BuildingScaleUp;
    margin: 10px;
}

.BuildingScaleDown {
    /* background-color: #dab1d5;*/
    display: block;
    /*  align-self: center;*/
    grid-area: BuildingScaleDown;
    margin: 10px;
}

.Button {
    /*   background-color: #ffb5b5;
    display: block;
    /*  align-self: center;*/
    grid-area: Button;
    margin: 10px;
    position: absolute;
    left: 35%;
    top: 85%;
}

.ground {
    float: left;
    left: 60px;
    margin: 10px;
}

#upperFloor {
    float: left;
    margin: 10px;
}

.floor {
    float: right;
    margin: 10px;
}

#underFloor {
    float: left;
    left: 60px;
    top: 20px;
    margin: 10px;
}

input[type=number] {
    border: 2px solid white;
    border-radius: 10px;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

select {
    background-image: url('down_icon.png');
    background-position: 290px 0px;
    background-repeat: no-repeat;
    z-index: 1;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: rgb(255, 153, 0);
    border: none;
    color: rgb(5, 5, 5);
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Microsoft JhengHei;
}

0.15fr 0.15fr 0.15fr 0.15fr 0.01fr 0.15fr 0.23fr
