<IfModule mod_headers.c>
	# One year for image and video files
	<filesMatch ".(jpg|jpeg|png|gif|ico|mp4|webm)$">
		Header set Cache-Control "max-age=31536000, public"
	</filesMatch>

	# One month for css and js
	<filesMatch ".(css|js)$">
		Header set Cache-Control "max-age=2628000, public"
	</filesMatch>
</IfModule>
